{% extends "js_events/base.html" %}
{% load i18n cms_tags apphooks_config_tags %}

{% block title %}
    {{ event.title }} - {{ block.super }}
{% endblock %}

{% block events_content %}
    {% include "js_events/includes/event.html" with detail_view="true" %}

    <ul>
        {% if prev_event %}
            <li><a href="{{ prev_event.get_absolute_url }}">{% trans "Previous Service" %}</a></li>
        {% endif %}
        <li><a href="{% namespace_url "event-list" %}">{% trans "Back to Overview" %}</a></li>
        {% if next_event %}
            <li><a href="{{ next_event.get_absolute_url }}">{% trans "Next Service" %}</a></li>
        {% endif %}
    </ul>
{% endblock %}
