{% load i18n apphooks_config_tags cms_tags sekizai_tags staticfiles thumbnail %}

<li class="col-sm-12 col-md-6 {{ event.type_slug|lower }}">

  {% if event.featured_image %}
    {% thumbnail event.featured_image "370x223" crop="center" as im %}
    <a href="{{ event.get_absolute_url }}" style="background-image:url({{ im.url }});">
  {% else %}
    <a href="{{ event.get_absolute_url }}">
  {% endif %}

    <h4>{{ event.title }}</h4>

    {% if event.lead_in %}
      <p>{{ event.lead_in|striptags|safe|truncatechars:165 }}</p>
    {% endif %}

  </a>
</li>
