{% load i18n apphooks_config_tags cms_tags sekizai_tags staticfiles thumbnail %}

{% page_attribute "slug" as slug %}

<article class="events-event{% if event.is_featured %} events-featured{% endif %}{% if not event.published %} unpublished{% endif %}{% if event.future %} future{% endif %}">

  {% if event.featured_image_id and slug != "how-to" and slug != "guides" %}
    <header class="image" style="background-image:url({% thumbnail event.featured_image 1190x500 crop subject_location=event.featured_image.subject_location %});">
  {% else %}
    <header>
  {% endif %}

    <p class="section-title" title="{{ slug }}">{{ slug }}</p>

    <h1>{% render_model event "title" %}</h1>

  </header>

    {% render_placeholder event.content language placeholder_language %}

</article>
